/*Configuro las generalidades de la página*/
* {
    box-sizing: border-box;
    margin: 0%;
    scroll-behavior: smooth;
}

/*Asigno un color de fondo a la página*/
body {
    background-color: antiquewhite;
}

/*Estilizo el cabezal y sus respectivos elementos (título h1 e imagen)*/
.header {
    align-items: center;
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    background-color: #d30058;
}

#name{
    color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}

header img{
    block-size: 2rem;
    filter: invert(90%) sepia() brightness(90%);
}

/*Estilizo la barra de navegación y sus links*/
.topnav {
    padding: 1% 5%;
    overflow: hidden;
    display: flex;
    background-color: #ff006a41;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.topnav a {
    padding-right: 3%;
    color: #d30058;
    text-decoration: none;
}

/*Estilizo los párrafos, que son el cuerpo de la página*/
section > div {
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section > div > h1 {
    padding-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sobremi img {
    float: right;
    padding-left: 1%;
    max-width: 100%
}

#proyectos {
    * {
        box-sizing: border-box;
      }
      
      .img-container {
        float: left;
        width: 33%;
        padding: 0.5%;
      }
      
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}

/*Estilizo el pie de página y sus elementos respectivos (imágenes y links)*/
footer {
    padding: 1% 5%;
    background-color: #d30058;
}

footer > * {
    align-items: center;
    justify-content: flex-end;
    padding: 0% 1%;
    display: flex;
}

footer a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: antiquewhite;
    text-decoration: none;
}

footer img {
    padding: 0.5% 1%;
    filter: invert(90%) sepia() brightness(90%);
    block-size: 2rem;
}