* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

.topnav {
    overflow: hidden;
    background-color: #d30058;
}
  
.topnav a {
    float: left;
    display: block;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 1% 5%;
    text-decoration: none;
    font-size: large;
}

.topnav .icon {
  display: none;
}

#name {
    justify-content: space-between;
    display:flex;
    background-color: #f2bbbd;
    color: #d30058;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 1.5% 5%;
}

#name img {
    padding-right: 5%;
    block-size: 2rem;
    filter: invert(100%) brightness(100%);
}

section > div {
    margin: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section > div > h1 {
    color: #d30058;
    padding-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#sobremi img {
    float: right;
    padding-left: 1%;
    max-width: 100%
}

#proyectos {
    * {
        box-sizing: border-box;
      }
      
      .img-container {
        float: left;
        width: 33%;
        padding: 0.5%;
      }
      
      .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }
}

footer {
    padding: 1% 5%;
    background-color: #d30058;
}

footer a {
    padding: 0% 3%;
    display: inline-flex;
    justify-content: center ;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    color: antiquewhite;
    text-decoration: none;
}

footer img {
    padding-right: 10%;
    filter: invert(90%) sepia() brightness(90%);
    block-size: 1.3rem;
}

@media screen and (max-width: 500px) {
    .top {
        position: sticky;
        top: 0;
    }
    .topnav :not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    footer {padding: 3%}
    footer a {
        display: list-item;
        list-style-type: none;
    }
    footer img {padding-right: 3%;}
    #sobremi img {
        display: block;
        float: none;
        width: 100%;
        padding: 5% 0%;
    }
    #proyectos .img-container {width: 100%; padding: 2.5% 0%;}
    #name {
        padding: 3% 5%;
    }
}

@media screen and (max-width: 700px) {
    .top {
        position: sticky;
        top: 0;
    }
    .topnav :not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}  

@media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a{
      float: none;
      display: block;
      text-align: left;
    }
}